/* app css stylesheet */
.map {
  margin: 0px;
  height: 450px;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.standard{
  margin: 10px;
  margin-top: 20px;
}

.findbar{
  padding-top: 60px;
  padding-bottom: 10px;
}

.flex-btn{
  display: flex;
}

.wrapper{
  padding: 1px;
  margin-top: 2px;
  height: 400px;
}
.image{
  padding: 5px;
  display: block;
  margin-top: 0px;
  background-image: url(https://www.colchester.gov.uk/parking-permit-kb-image);
  height: 300px;
  width:100%;
}
.btn-text{
  font-size: 45px;
}

.location{
  border-style: groove;
  display: none;
  margin: 5px;
}

body {
  background-color: #333;
  color: #fff;
}

@media only screen and (max-width: 600px) {
  .wrapper{
    display: block;
  }

  .flex-btn{
    display: block;
  }
  .stdBtn{
    width: 100% !important;
    height :auto !important;
    margin: 2px !important;
    font-size: 10px !important;
    margin-top: 0px !important;
   }
  .btn-text{
    font-size: 20px;
  }
}
.stdBtn{
  width: 50%;
  height :100px;;
  margin: 10px;
  font-size: 20px;
}

.postcode{
  width: 82%;
    border: lightgray 1px;
    border-style: solid;
}

.intro1{
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
}
.intro2{
  font-size: 40px;
  text-align: center;
  font-family: fantasy;
  margin-top: 10px;
  color: darkgreen;
}
.headertext{
  font-size: 25px;
  text-align: center;
  vertical-align: bottom;
  font-family: fantasy;
  margin-top: 10px;
  color:white;
}

.nav-label{
  float: right;
  margin-top:15px;
}



